*{
    margin: 0;
    padding: 0;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font: weight 900px;
   
}
.color-orange{
    color: #FD6E0A;
}
.btn{
   background-color: #FD6E0A; 
   border: none;
   border-radius:5px;
   padding:18.5px 35px ;
   color: white;
   font-size: 20px;
   font-weight: bold;
}
/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 51px;
    
}
nav{
   width: 75%;
   max-width: 1140px; 
   border: 1px solid gold;
   margin: 0px auto;
   display: flex;
   justify-content:space-between ;
   align-items: center;
}
nav .menu{
    display:flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    color: #474747;
    text-decoration: none;
}